.container ul {         
	padding:0 0 0 0;
	margin:0 0 0 0;
}
.container ul li {     
	list-style:none;
	margin-bottom:25px; 
}
.container ul li img {
	cursor: pointer;
}
#modal-body{
}

#modal-controls{
	position: relative;
}
